.container{
    width: 50vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:  "a a b"
                          "c c b"
                          "d d b"
                          "e e b"
                          "f f f";
}
div[class*="div-"]{
  gap: 10px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;

}

.div-1{
    grid-area: a;
    
}
.div-2{
    grid-area: b;
}
.div-3{
    grid-area: c;
}
.div-4{
    grid-area: d;
}
.div-5{
    grid-area: e;
}
.div-6{
    grid-area: f;
}


$colores: #f00, #0f0, #00f, #ff0, #f0f, #0ff;
@for $i from 1 through 6 {
    .div-#{$i}{
        background-color:nth($colores, $i);
    }
}

%display{
    text-align: center;
    display: flex;
    justify-content: center;
}
.container-2{
    @extend %display;
    width: 50vw;
    height: 20vh;
    background-color: #f0f0f0;
    margin-top: 20px;
    border: 5px solid black;
   

}

th{
    text-transform: capitalize;
}
$color:(#f00, #0f0, #00f, rgb(162, 0, 255));
@for $i from 1 through 4 {
    tr:nth-child(#{$i}){
        color: nth($color, $i);
    }
}

@keyframes move{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}

.tr-2:hover td{
    animation: move 2s infinite;
    border: 2px solid black;
    
}

@keyframes identifier{
    0%{
        background-color: #f00;
    }
    25%{
        background-color: #0f0;
    }
    50%{
        background-color: #00f;
    }
    75%{
        background-color: #ff0;
    }
    100%{
        background-color: #f0f;
    }
    
}
.tr-3:hover td{
    animation: identifier 2s infinite;
    border: 2px solid black;
    
}
@keyframes moveY{
    0%{
        transform: translateY(0);
    }
    25%{
       transform: translateY(100px);
    }
    50%{
       transform: translateY(150px);
    }
    75%{
      transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
   
    
}
.tr-4:hover td{
    animation: moveY 2s infinite ease-in-out;
    border: 2px solid black;
   
    
    
}

$background: red green blue yellow;
@for $i from 1 through  4{
    .tr-#{$i} td{
        background-color: nth($background, $i);
      
    }
}

$enlaces:( "hola", "adios", "como");
@for $i from 1 through length($enlaces) {
    .a-#{$i}::before{
        content: nth($enlaces, $i);
        margin-right: 5px;
        color:black;
      
    }
}



.container-3{
    @extend %display;
    width: 50vw;
    height: 30vh;
    background-color: #f0f0f0;
    margin-top: 20px;
}
$size: 20px;
$i:1;
$colores: (#f00, #0f0, #00f, #ff0, #f0f, #0ff);
    @while $i < 6{
       .li-#{$i}{
        background-color: nth($colores, $i);
        width: $size * $i;
        height: $size * $i;
       }
       $i: $i +1;
    }
